<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PSA Recommendations</title>
    </head>
    <body>
        <div>
            <section>
                <h1>PSA Recommendations</h1>
                <p>Here are your recommendations</p>
                <a href="index.html">Go back to Recommender</a>
            </section>
            <br>
            <hr>
            <br>
            <fieldset>
                <legend>Recommendation 1</legend>
                <fieldset class="see">
                    <p>{{ recommenda }}</p>
                </fieldset>
            </fieldset>
            <br>
            <fieldset>
                <legend>Recommendation 2</legend>
                <fieldset class="see">
                    <p>{{ recommendb }}</p>
                </fieldset>
            </fieldset>
            <br>
            <fieldset>
                <legend>Recommendation 3</legend>
                <fieldset class="see">
                    <p>{{ recommendc }}</p>
                </fieldset>
            </fieldset>
            <a href="index.html">Go back to Recommender</a>
        </div>
    </body>
</html>
